<!DOCTYPE html>
<html>
<head>
<title >go web ssss demo </title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script> 
var icolor=0;
var iNum=256;

var iID=setInterval(setbgColor, 5000);

$(document).ready(function(){
  $("#startBtn").click(function(){
    var div=$("div");
    div.animate({height:'100%',opacity:'0.4'},"slow");
    div.animate({width:'100%',opacity:'0.8'},"slow");
    div.animate({height:'100px',opacity:'0.4'},"slow");
    div.animate({width:'100px',opacity:'0.8'},"slow");
  });
  $( "#startBtn" ).trigger( "click" );
  
  
  $("#stopBtn").click(function(){
	  clearInterval(iID);
  });
});

function setbgColor()
{
	//document.bgColor="#"+icolor*iNum*iNum*iNum+icolor*iNum*iNum+icolor*iNum;
    if((icolor+=10)>iNum)
    {
    	       
    }
	$( "#startBtn" ).trigger( "click" );
}


</script> 
</head>
 
<body style="background:pink">

<button id="startBtn">开始动画</button><button id="stopBtn">停止动画</button> 
<p>默认情况下，所有 HTML 元素的位置都是静态的，并且无法移动。如需对位置进行操作，记得首先把元素的 CSS position 属性设置为 relative、fixed 或 absolute。</p>
<div style="background:#98bf21;height:100px;width:100px;position:absolute;">
<img src="/1.png">
</div>

<div> <a href="/hi">hi</a> &nbsp;&nbsp;<a href="/hello">hello</a> </div>
</body>
</html>